@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
    @apply h-screen;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    @apply bg-gradient-to-br from-purple-900 via-indigo-900 to-black;
    background-size: 800% 800%;
    animation: gradientFlow 15s ease infinite;
}

@keyframes gradientFlow {
    0%   { background-position:   0% 50%; }
    25%  { background-position:  50% 25%; }
    50%  { background-position: 100% 50%; }
    75%  { background-position:  50% 75%; }
    100% { background-position:   0% 50%; }
}


