@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
    @apply h-screen;
}

html, body {
    overflow: hidden;
}  

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    @apply bg-gradient-to-br from-purple-900 via-indigo-900 to-black;
    background-size: 800% 800%;
    animation: gradientFlow 15s ease infinite;
}

@keyframes gradientFlow {
    0%   { background-position:   0% 50%; }
    25%  { background-position:  50% 25%; }
    50%  { background-position: 100% 50%; }
    75%  { background-position:  50% 75%; }
    100% { background-position:   0% 50%; }
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 2px, transparent 2px),
                radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 150px 150px, 75px 75px;
    background-position: 0 0, 50px 50px;
    animation: starrySky 20s linear infinite;
    z-index: 0;
}

@keyframes starrySky {
    0% {
        background-position: 0 0, 50px 50px;
    }
    100% {
        background-position: -1000px -1000px, -500px -500px;
    }
}

.settings-page input[type=number] {
    appearance: textfield;
}
.settings-page input[type=number]::-webkit-inner-spin-button,
.settings-page input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

